# Ignore all env files
.env
**/.env

 
 

# Ignore logs
*.log
**/*.log

# Authelia 
apps/authelia/config/notification.txt

# Data folders
data/authelia
data/traefik
data/audiobookshelf
data/uptime-kuma
data/n8n
data/affine
data/beszel
data/beszel_agent_data


